h1 {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.preview-section {
  text-align: left;
  width: 80vw;
  margin-bottom: 4rem;

  h2 {
    font-size: 1em;
    margin-bottom: 0;
  }
}

.projects-container, .posts-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}