$background-dark: #282c34;
$background-primary: #343941;
$background-light: #494a57;
$link-primary: #09d3ac;
$link-hover: #09ffd6;
$soft-white: #cdcdcd;

$code-font: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $code-font
}
